.picture-image-white-1 {
  background-image: url(../img/White/4.PNG);
}

.picture-image-white-2 {
  background-image: url(../img/White/2.PNG);
}

.picture-image-white-3 {
  background-image: url(../img/White/3.PNG);
}

.picture-image-white-4 {
  background-image: url(../img/White/1.PNG);
}

.picture-image-white-5 {
  background-image: url(../img/White/5.PNG);
}

.picture-image-white-6 {
  background-image: url(../img/White/6.PNG);
}

.picture-image-white-7 {
  background-image: url(../img/White/7.PNG);
}

.picture-image-white-1,
.picture-link:nth-of-type(1):hover ~ .picture-image-white-1,
.picture-link:nth-of-type(2):hover ~ .picture-image-white-2,
.picture-link:nth-of-type(3):hover ~ .picture-image-white-3,
.picture-link:nth-of-type(4):hover ~ .picture-image-white-4,
.picture-link:nth-of-type(5):hover ~ .picture-image-white-5,
.picture-link:nth-of-type(6):hover ~ .picture-image-white-6,
.picture-link:nth-of-type(7):hover ~ .picture-image-white-7 {
  opacity: 1;
}
