/* .picture-image-whiteneck-1 {
  background-image: url(./img/whiteneck/4.PNG);
}

.picture-image-whiteneck-2 {
  background-image: url(./img/whiteneck/2.PNG);
}

.picture-image-whiteneck-3 {
  background-image: url(./img/whiteneck/3.PNG);
}

.picture-image-whiteneck-4 {
  background-image: url(./img/whiteneck/1.PNG);
}

.picture-image-whiteneck-5 {
  background-image: url(./img/whiteneck/5.PNG);
}

.picture-image-whiteneck-6 {
  background-image: url(./img/whiteneck/6.PNG);
}

.picture-image-whiteneck-7 {
  background-image: url(./img/whiteneck/7.PNG);
}

.picture-image-whiteneck-1,
.picture-link:nth-of-type(1):hover ~ .picture-image-whiteneck-1,
.picture-link:nth-of-type(2):hover ~ .picture-image-whiteneck-2,
.picture-link:nth-of-type(3):hover ~ .picture-image-whiteneck-3,
.picture-link:nth-of-type(4):hover ~ .picture-image-whiteneck-4,
.picture-link:nth-of-type(5):hover ~ .picture-image-whiteneck-5,
.picture-link:nth-of-type(6):hover ~ .picture-image-whiteneck-6,
.picture-link:nth-of-type(7):hover ~ .picture-image-whiteneck-7 {
  opacity: 1;
} */

#picture__high__whitecollar {
  background-image: url(./img/Whiteneck/4.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #ccc;
  background-size: cover;
}
